@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');




/*Body*/
body { 
    min-height: 100vh;
    background-color: #55AD9B;
    font-family: 'Kodchasan', sans-serif;
    color: rgb(11, 3, 45);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}


/*Text*/
h1 {
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
}

p {
    font-size: 0.9rem;
}
/* Buttons & counting*/
.score-actions-container {
    display: inline-flex;
    align-items: center;
    gap: 20rem;
  }


/*Container*/
.grid-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(6, 1fr);
    max-width: 120vw;
    row-gap: 3vmin;
    column-gap: 2vmin;
    margin-bottom: 0.5rem;
    margin-top: -32px;
  }

/*Cards general*/
.card {
    height: 110px; 
    width: 110px;  
    border-radius: 10px;
    background-color: white;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out; /* Only rotate transform is needed */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Light card shadow */
  }


/*Card sides*/

/*Fliping */

/*Responsive*/

